<h1>{{ chaine.nom }}</h1>

{% if chaine.collectif != None %}
  <h3><a href="{% url 'crowd_sourcing:collectif' chaine.collectif.id %}">{{ chaine.collectif }}</h3>
{% endif %}
{% if chaine.url != None %}
  <p><a href="https://youtube.com/{{chaine.url}}">Voir sur youtube</a></p>
{% endif %}
<p>Créée le: {{ chaine.date_creation }} </p>

<p>Sexe du présentateur: {{chaine.sexe_presentateur.description }}</p>
<p>Domaine: {{chaine.domaine.description }}</p>

{# if #}
<p>Abonnements</p>
<ul>
{% for enregistrement in abonnement %}
  <li>{{ enregistrement.date }} - {{ enregistrement.nombre }}</li>
{% endfor %}

</ul>
{% if stats.vues != None %}
  <p>{{ stats.vues }} vues de vidéos de vulgarisation ({{ stats.vues_total }} au total)</p>
{% endif %}

<p>MàJ: {{ chaine.mise_a_jour }}</p>

{% if chaine.observation != "" %}
  <p>Observations:</p>
  <textarea>
    {{ chaine.observation }}
  </textarea>
{% endif %}

<h3>Vidéos</h3>
<!-- Stats -->
<p>Vidéos de vulgarisation: {{ stats.vulgarisation }} / {{ stats.total }}</p>
<!-- Progression -->
<p>Vidéos sourcées: {{ stats.sourcees }} / {{ stats.total }}</p>
<!-- Liste -->
<ul>
{% for enregistrement in video %}
  <li>
    <a href="{% url 'crowd_sourcing:video' enregistrement.id %}">
      <img src="https://i.ytimg.com/vi/{{enregistrement.yt_id}}/hqdefault.jpg" style="width:128px" />
      {{ enregistrement.titre }}
    </a>
  </li>
{% endfor %}
</ul>
