<h1><a href="{{ collectif.url }}">{{ collectif.nom }}</a></h1>

<p>Date de création: {{ collectif.date_creation}}</p>

<ul>
{% for enregistrement in chaine %}
  <li><a href="{% url 'crowd_sourcing:chaine' enregistrement.id %}"> {{ enregistrement.nom }} </a></li>
{% endfor %}
</ul>
