<a href="{% url 'crowd_sourcing:collectif' %}">Collectifs</a>
<a href="{% url 'crowd_sourcing:chaine' %}">Chaines</a>

<h1>Progression ({{ progression.pourcentage }} %)</h1>
<p>{{ progression.actuel }} / {{ progression.total_vulgarisation }} ({{ progression.total }})</p>

<h1>Vidéos récentes</h1>
<ul>
{% for video in video_list %}
  <li><a href="{% url 'crowd_sourcing:video' video.id %}">{{ video.titre }}</a></li>
{% endfor %}
</ul>

<h1>Sources récentes</h1>
<ul>
{% for source in source_list %}
  <li><a href="{% url 'crowd_sourcing:source' source.id %}">{{ source.nom }}</a></li>
{% endfor %}
</ul>
