<h1>{{ source.nom }}</h1>

<p>Création: {{ source.timestamp_creation }}</p>
<p>Vidéo: <a href="{% url 'crowd_sourcing:video' source.video.id %}">{{ source.video }}</a></p>
<p>Citée mais non référencée: {{source.seulement_citee}}</p>
<p>Source personnelle (autocitation): {{source.source_personnelle}}</p>
<!-- TODO: Fix Time_code -->
<p>Time code: <a href="https://youtube.com/watch?v={{ source.video.yt_id }}&t={{ source.time_code }}">{{ source.time_code }}</a></p>
<p>Description:<br>
{{ source.description | linebreaks }}</p>

<h3>URL</h3>
<ul>
{% for enregistrement in url %}
  <li>
    <a href="{{ enregistrement.url }}">
      {{ enregistrement.url }}<br>
      {{ enregistrement.info }}
    </a>
  </li>
{% endfor %}
</ul>
