<h1>{{video.titre}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.yt_id}}" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>

<h3><a href="{% url 'crowd_sourcing:chaine' video.chaine.id %}">{{video.chaine}}</a></h3>

<p>Publiée le {{video.date_publication}}</p>
<p>{{video.vues}} vues</p>
<p>Vidéo de vulgarisation: {{video.vulgarisation}}</p>
<p>Sourcée: {{video.sourcee}}</p>
<p>Description:<br>
  {{video.description | linebreaks | urlize}}
</p>

<h3><a href="{% url 'crowd_sourcing:source' %}">Soumettre une source</a></h3>
<h3>Sources ({{ source | length }})</h3>
<ul>
{% for enregistrement in source %}
  <li><a href="{% url 'crowd_sourcing:source' enregistrement.id %}">{{ enregistrement.nom }}</a></li>
{% endfor %}
</ul>
